// This is where I store the colors I use in my app.
// There are two sets of colors, one for the light theme and one for the dark theme.
// The colors are stored as variables, so that I can easily change them.
// Light theme colors
$background: #F5F5F5;
$secondary-background: #FFFFFF;
$primary: #F3B61F;
$secondary: #47A8BD;
$tertiary: #202020;
$quaternary: #999;
$quinary: #000;
// Dark theme colors
$background-dark: #202020;
$secondary-background-dark: #000;
$primary-dark: #F3B61F;
$secondary-dark: #47A8BD;
$tertiary-dark: #F5F5F5;
$quaternary-dark: #999;
$quinary-dark: #000;