// This is where I store the colors I use in my app.
// Light theme
$primary: #3f51b5;
$secondary: #f50057;
$accent: #ff4081;
$warn: #ff5722;
// Dark theme
$primary-dark: #303f9f;
$secondary-dark: #c51162;
$accent-dark: #e040fb;
$warn-dark: #e64a19;
// Common
$background: #fff;
$background-dark: #000;